footer{
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    color: white;
    .top-last{
        background-image: url(images/bg-footer-top-desktop.svg);
        @media (max-width: 415px) {
            background-image: url(images/bg-footer-top-mobile.svg);
            height: 53px;
        }
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 158px;
        position: relative;
        transform: translateY(-100%);
    }
    .container4 {
        width: 90%;
        margin: auto;
        @include flex(row, space-between,center);
        @media (max-width: 415px) {
            @include flex(column, center, flex-start);
        }
        .last-logo{

            flex: 1;
            @media (max-width: 415px) {
                order: 2;
            }
            @include flex(column, center,flex-start);
            p {
                padding-top: 1rem;
                width: 68%;
                font-size: 20px;
                @media (max-width: 1025px) {
                    font-size: 15px;
                }
                @media (max-width: 769px) {
                    font-size: 11px;
                }
                @media (max-width: 415px) {
                    font-size: 15px;
                    width: 90%;
                }
                @media (max-width: 415px) {
                    font-size: 14px;
                }
                img{
                    margin-right: 15px;
                }
            }
            .social-media{
                padding-top: 4rem;
                .logos {
                    list-style: none;
                    @include flex(row, space-between, center);
                    li{cursor: pointer;
                        margin-right: 15px;
                        .media{
                            &:hover{fill: #00c8ff;}}
                    }
                }
            }
        }
        .news{
            position: relative;
            transform: translateY(-27%);
            flex: 1;
            @include flex(column, center,flex-start);
            @media (max-width: 1440px) {
                transform: translateY(-19%);
            }
            @media (max-width: 1025px) {
                transform: translateY(-29%);
            }
            @media (max-width: 769px) {
                transform: translateY(-5%);
            }
            @media (max-width: 415px) {
                order: 1;
            }
            h2{
                color: white;
                padding-bottom: 1.3rem;
            }
            p{
                padding-bottom: 1.8rem;
                width: 68%;
                font-size: 20px;
                @media (max-width: 1025px) {
                    font-size: 13px;
                }
                @media (max-width: 769px) {
                    font-size: 10px;
                }
                @media (max-width: 415px) {
                    font-size: 15px;
                    width: 90%;
                }
                @media (max-width: 415px) {
                    font-size: 14px;
                    
                }
            }
            .input {
                input{
                    padding: 15px 120px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    @media (max-width: 1025px) {
                        padding: 15px 60px;;
                    }
                    @media (max-width: 415px) {
                        padding: 15px 112px;
                    }
                    @media (max-width: 376px) {
                        padding: 15px 101px;
                    }
                }
                button{
                    padding: 15px 50px;
                    background-color: hsl(322, 100%, 66%);
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    margin-left: 30px;
                    cursor: pointer;
                    @media (max-width: 769px) {
                        margin-top: 1rem;
                    }
                    @media (max-width: 415px) {
                        margin-left: 205px;
                        margin-bottom: 4rem;
                    }
                    @media (max-width: 376px) {
                        margin-left: 181px;
                        
                    }
                    &:hover{
                        background-color: hsl(321, 100%, 78%);
                    }

                }
            }
        }
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}